name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4

      - run: npm install
      - name: Run TypeDoc
        run: npx typedoc --out docs --includeDeclarations --mode file --theme minimal --excludeNotExported --exclude '**/node_modules/**' src

        # Runs TypeDoc and excludes node_modules so that the entire Roblox API doesn't have docs
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
